.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: max-content;
  background-color: rgb(246, 251, 255);
  gap: 4rem;
}

.main {
  z-index: 5;

  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  gap: 1rem;
  margin-top: 8rem;
}

.main h1 {
  background-color: rgba(255, 0, 0, 0.414);
  width: fit-content;
  padding: 1rem 4rem;
  font-size: 2rem;
  font-weight: 800;

  color: white;
  border-radius: 40px;
}

.main h2 {
  background-color: #51d2cc;
  width: fit-content;
  padding: 1rem 2rem;
  font-size: 1.5rem;
  font-weight: 800;

  color: white;
  border-radius: 40px;
}

.info {
  z-index: 5;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 1rem;
}

.info h3 {
  font-size: 1.2rem;
}

.x {
  /* margin-top: -16rem; */
  position: absolute;
  left: -15rem;
  bottom: 25rem;
  z-index: 1;
  background-color: rgba(255, 0, 0, 0.223);
  width: 30rem;
  height: 30rem;
  border-radius: 100rem;
}

.x p {
  visibility: hidden;
}

@media (max-width: 440px) {
  .main h1 {
    padding: 1rem 2rem;
    font-size: 1.5rem;
  }

  .main h2 {
    padding: 1rem 1.5rem;
    font-size: 1.2rem;
    font-weight: 800;
  }
  .info h3 {
    font-size: 1rem;
  }
}

@media (max-width: 356px) {
  .main h1 {
    padding: 1rem 2rem;
    font-size: 1.5rem;
  }

  .main h2 {
    padding: 1rem 1.5rem;
    font-size: 1.1rem;
    font-weight: 800;
  }
  .info h3 {
    font-size: 0.9rem;
  }
}
