.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: max-content;
  background-color: rgb(246, 251, 255);
  gap: 2rem;
}

.main {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  gap: 1rem;
  margin-top: 8rem;
  width: 80vw;
}

.main header {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 2rem;
}

.main h1 {
  background-color: rgba(255, 0, 0, 0.414);
  width: fit-content;
  padding: 1rem 4rem;
  font-size: 2rem;
  font-weight: 800;
  color: white;
  border-radius: 40px;
}

.main h2 {
  color: rgb(81, 210, 204);
  font-size: 2rem;
  font-weight: 700;
  text-align: center;
  border-bottom: 3px solid rgb(81, 210, 204);
  margin-bottom: 1.5rem;
}

.main h3 {
  font-size: 1.5rem;
  font-weight: 500;
  font-style: italic;
  text-align: center;
}

.main h4 {
  color: rgba(255, 0, 0, 0.414);
  font-size: 1.3rem;
  font-weight: 800;
  text-align: center;
  border-bottom: 3px solid rgba(255, 0, 0, 0.414);
}

.package-grid {
  padding: 1rem;
  display: grid;
  grid-template-columns: 300px 300px 300px;
  column-gap: 2rem;
}

.individual-grid {
  padding: 0.5rem;
  display: grid;
  grid-template-columns: 300px 300px;
  column-gap: 5rem;
}

.package {
  /* background-color: rgb(81, 210, 204); */
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 1rem;
  border-radius: 15px;
  padding-bottom: 1.5rem;
  box-shadow: rgba(14, 30, 37, 0.22) 0px 6px 10px 0px,
    rgba(14, 30, 37, 0.22) 0px 6px 10px 0px;
}

.package p {
  font-size: 0.9rem;
  text-align: center;
  font-weight: 500;
  /* color: rgb(81, 210, 204); */
}

.package-img {
  width: 100%;
  height: 200px;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
}

.package button {
  background-color: rgb(81, 210, 204);
  color: white;
  font-weight: 800;
  font-size: 1.2rem;
  padding: 0.5rem 2rem;
  border: none;
  border-radius: 20px;
  box-shadow: rgba(14, 30, 37, 0.22) 0px 2px 3px 0px,
    rgba(14, 30, 37, 0.22) 0px 2px 3px 0px;
  transition: 0.3s;
}

.package button:hover {
  cursor: pointer;
  padding: 0.5rem 3.5rem;
  transition: 0.3s;
}

@media (max-width: 1005px) {
  .package-grid {
    padding: 1rem;
    display: grid;
    grid-template-columns: 300px 300px;
    column-gap: 2rem;
    row-gap: 2rem;
  }
}

@media (max-width: 700px) {
  .package-grid {
    grid-template-columns: 300px;
  }

  .individual-grid {
    grid-template-columns: 300px;
    column-gap: 2rem;
    row-gap: 2rem;
  }

  .main h1 {
    font-size: 1.5rem;
  }

  .main h3 {
    font-size: 1.2rem;
  }
}

@media (max-width: 458px) {
  .main h1 {
    padding: 1rem 2rem;
    font-size: 1.3rem;
  }

  .main h3 {
    font-size: 1rem;
  }

  .main h2 {
    font-size: 1.5rem;
  }
}

@media (max-width: 325px) {
  .main h1 {
    padding: 1rem 1.5rem;
    font-size: 1.2rem;
  }
}
