.container {
  height: 100vh;
  width: 100%;
  padding: 6rem 0;
}

.x {
  margin-top: 15rem;
  position: absolute;
  z-index: -999;
  background-color: rgba(255, 0, 0, 0.223);
  width: 25rem;
  height: 25rem;
  border-radius: 200px;
  animation: x 20s linear infinite alternate;
}

.x p {
  visibility: hidden;
}

.y {
  margin-top: -5rem;
  position: absolute;
  z-index: -999;
  background-color: rgba(255, 0, 0, 0.223);
  width: 25rem;
  height: 25rem;
  border-radius: 200px;
  animation: y 15s linear infinite alternate;
}

.y p {
  visibility: hidden;
}

@keyframes x {
  100% {
    transform: translateX(calc(50vw - 400px));
  }
}

@keyframes y {
  100% {
    transform: translateX(calc(100vw - 400px));
  }
}

.main {
  z-index: 999;
  background-color: #51d2cc;
  width: 70%;
  margin: 3rem auto;
  color: white;
  padding: 2rem;
  border-radius: 40px;

  box-shadow: 0px 20px 20px rgba(0, 0, 0, 0.13);
}

.header {
  width: 100%;
  display: flex;
  align-items: flex-end;
  justify-content: right;
  border-bottom: 5px solid white;
}

.header h1 {
  font-weight: 900;
  font-size: 3.5rem;
  letter-spacing: 1px;
  margin-right: 10rem;
  padding-bottom: 0.5rem;
}

.body {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 2.5rem;
  font-size: 1.5rem;
  line-height: 1.5;
  padding: 1.5rem;
}

.story-img {
  width: 15rem;
  height: 12rem;
  border-radius: 30px;
}

@media (max-width: 1400px) {
  .x {
    margin-top: 23rem;
    width: 20rem;
    height: 20rem;
    animation: x 20s linear infinite alternate;
  }

  .y {
    margin-top: -7rem;
    width: 20rem;
    height: 20rem;
    animation: y 15s linear infinite alternate;
  }
}

@media (max-width: 1100px) {
  .body {
    font-size: 1.3rem;
    line-height: 1.5;
  }
}

@media (max-width: 970px) {
  .header h1 {
    font-size: 3.3rem;
  }
  .body {
    font-size: 1.2rem;
    line-height: 1.4;
  }
}

@media (max-width: 900px) {
  .story-img {
    display: none;
  }

  .header h1 {
    font-size: 3rem;
    margin-right: 6rem;
  }
  .body {
    font-size: 1.4rem;
    line-height: 1.4;
  }

  .x {
    margin-top: 19rem;
    width: 18rem;
    height: 18rem;
    animation: x 20s linear infinite alternate;
  }

  .y {
    margin-top: -5rem;
    width: 18rem;
    height: 18rem;
    animation: y 15s linear infinite alternate;
  }

  @keyframes x {
    100% {
      transform: translateX(calc(50vw - 10px));
    }
  }

  @keyframes y {
    100% {
      transform: translateX(calc(100vw - 400px));
    }
  }
}

@media (max-width: 750px) {
  .header h1 {
    font-size: 2.5rem;
    margin-right: 3rem;
  }
  .body {
    font-size: 1.3rem;
    padding: 1.2rem;
  }
}

@media (max-width: 600px) {
  .header h1 {
    font-size: 2.5rem;
    margin-right: 0rem;
  }

  .main {
    width: 85%;
  }
  .body {
    font-size: 1.2rem;
    padding: 1.1rem;
  }
}

@media (max-width: 500px) {
  .header h1 {
    font-size: 2rem;
    margin-right: 0rem;
  }

  .body {
    font-size: 1.1rem;
    padding: 0.8rem;
  }

  .x {
    margin-top: 20rem;
    width: 15rem;
    height: 15rem;
    animation: x 18s linear infinite alternate;
  }

  .y {
    margin-top: -5rem;
    width: 15rem;
    height: 15rem;
    animation: y 12s linear infinite alternate;
  }
}

@media (max-width: 430px) {
  .header h1 {
    font-size: 1.8rem;
    margin-right: 0rem;
  }

  .body {
    font-size: 1rem;
    padding: 0.8rem;
    line-height: 1.2;
  }

  .x {
    margin-top: 16rem;
    width: 15rem;
    height: 15rem;
    animation: x 18s linear infinite alternate;
  }

  .y {
    margin-top: -5rem;
    width: 15rem;
    height: 15rem;
    animation: y 12s linear infinite alternate;
  }
}

@media (max-width: 380px) {
  .header h1 {
    font-size: 1.8rem;
    margin-right: 0rem;
  }

  .body {
    font-size: 1rem;
    padding: 0.5rem;
    line-height: 1.2;
  }

  .x {
    margin-top: 16rem;
    width: 14rem;
    height: 14rem;
    animation: x 18s linear infinite alternate;
  }

  .y {
    margin-top: -5rem;
    width: 14rem;
    height: 14rem;
    animation: y 12s linear infinite alternate;
  }
}

@media (max-width: 320px) {
  .header h1 {
    font-size: 1.5rem;
  }

  .body {
    font-size: 1rem;
    padding: 0.3rem;
    line-height: 1.1;
  }

  .x {
    margin-top: 16rem;
    width: 11rem;
    height: 11rem;
    animation: x 18s linear infinite alternate;
  }

  .y {
    margin-top: -2rem;
    width: 11rem;
    height: 11rem;
    animation: y 12s linear infinite alternate;
  }
}
