.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: max-content;
  background-color: rgb(246, 251, 255);
}

.main {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 3rem;
  margin: 10rem 0 12rem 0;
  position: relative;
  z-index: 10;
}
.main h1 {
  background-color: #ff00006a;
  width: fit-content;
  padding: 1rem 4rem;
  font-size: 2rem;
  font-weight: 800;
  color: white;
  border-radius: 40px;
  margin-top: -1rem;
}

.main h2 {
  font-style: italic;
}

.x {
  /* margin-top: -16rem; */
  position: absolute;
  left: -15rem;
  bottom: 28rem;
  z-index: -1;
  background-color: rgba(81, 210, 204, 0.53);
  width: 30rem;
  height: 30rem;
  border-radius: 100rem;
}

.x p {
  visibility: hidden;
}

@media (max-width: 795px) {
  .container {
    justify-content: center;
    height: max-content;
    background-color: rgb(246, 251, 255);
  }

  .main {
    gap: 2rem;
    margin-bottom: 3rem;
  }
}
@media (max-width: 426px) {
  .container {
    height: max-content;
  }

  .main h1 {
    background-color: #ff00006a;
    width: fit-content;
    padding: 1rem 5rem;
    font-size: 1.5rem;
    font-weight: 800;
    color: white;
    border-radius: 40px;
  }
}

@media (max-width: 426px) {
  .main {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    gap: 3rem;
    margin-top: 8rem;
  }
  .main h1 {
    background-color: #ff00006a;
    width: fit-content;
    padding: 1rem 2rem;
    font-size: 1.3rem;
    font-weight: 800;
    color: white;
    border-radius: 40px;
  }
}
