.container {
  height: 100vh;
  width: 100%;
}

.main {
  position: relative;
}

.hero-img {
  position: absolute;
  /* left: -6rem;
  bottom: -8rem;
  width: 50rem;
  height: 44rem; */
  left: -4rem;
  bottom: -57rem;
  width: 50rem;
  height: 44rem;
}

.hero-logo {
  position: absolute;
  right: 7rem;
  top: 11.5rem;
  width: 35rem;
  height: 9rem;
  padding-bottom: 1rem;
  border-bottom: 5px solid #51d2cb;
}

.info {
  background-color: #51d2cb;
  padding: 2rem;
  border-radius: 150px;
  position: absolute;
  text-align: center;
  display: flex;
  flex-direction: column;
  gap: 1rem;
  right: 12rem;
  top: 24rem;
}

.info h2 {
  font-size: 1.5rem;
  color: white;
}

.menu {
  position: absolute;
  right: 22rem;
  top: 37rem;
  justify-content: center;
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}

.scroll {
  width: 4rem;
  height: 4rem;
  margin-left: 0.9rem;
  animation-name: bounce;
  animation-iteration-count: infinite;
  animation-direction: alternate;
  animation-duration: 0.5s;
}

@keyframes bounce {
  from {
    transform: translateY(0px);
  }
  to {
    transform: translateY(5px);
  }
}

@media (max-width: 1370px) {
  .hero-img {
    left: -4rem;
    bottom: -55rem;
    width: 50rem;
    height: 45rem;
  }

  .hero-logo {
    right: 3rem;
    top: 10rem;
    width: 33rem;
    height: 10rem;
  }
  .info {
    right: 8rem;
    top: 23rem;
  }

  .menu {
    right: 18rem;
    top: 36rem;
  }
}

@media (max-width: 1230px) {
  .hero-img {
    width: 40rem;
  }
}

@media (max-width: 1114px) {
  .hero-img {
    left: -4rem;
    bottom: -55rem;
    width: 40rem;
    height: 45rem;
  }

  .hero-logo {
    right: 3rem;
    top: 10rem;
    width: 29rem;
    height: 10rem;
  }
  .info {
    right: 5rem;
    top: 23rem;
  }

  .menu {
    right: 15rem;
    top: 36rem;
  }
}

@media (max-width: 1053px) {
  .hero-img {
    left: -4rem;
    bottom: -55rem;
    width: 40rem;
    height: 43rem;
  }

  .hero-logo {
    right: 3rem;
    top: 12rem;
    width: 25rem;
    height: 8rem;
  }
  .info {
    right: 3rem;
    top: 23rem;
  }

  .menu {
    right: 13rem;
    top: 36rem;
  }
}

@media (max-width: 987px) {
  .info {
    display: none;
  }

  .hero-img {
    width: 40rem;
    height: 40rem;
    left: -3rem;
    bottom: -55rem;
  }

  .hero-logo {
    right: 3rem;
    top: 10rem;
    width: 23rem;
    height: 8rem;
  }

  .menu {
    right: 13rem;
    top: 25rem;
  }

  .scroll {
    margin-left: 1.1rem;
  }
}

@media (max-width: 769px) {
  .info {
    display: none;
  }

  .hero-img {
    left: -2rem;
    bottom: -50rem;
    width: 35rem;
    height: 35rem;
  }

  .hero-logo {
    right: 6rem;
    top: 8rem;
    width: 32rem;
    height: 6rem;
    padding-bottom: 1rem;
  }

  .menu {
    right: 7rem;
    top: 35rem;
  }

  .scroll {
    margin-left: 1.1rem;
  }
}

@media (max-width: 632px) {
  .hero-img {
    left: -4rem;
    bottom: -50rem;
    width: 38rem;
    height: 38rem;
  }

  .hero-logo {
    right: 6rem;
    top: 6rem;
    width: 27rem;
    height: 6rem;
    padding-bottom: 1rem;
  }

  .menu {
    right: 10rem;
    top: 34rem;
  }
}

@media (max-width: 550px) {
  .hero-img {
    left: -4rem;
    bottom: -50rem;
    width: 33rem;
    height: 33rem;
  }

  .hero-logo {
    right: 3rem;
    top: 8rem;
    width: 24rem;
    height: 6rem;
    padding-bottom: 1rem;
  }

  .menu {
    right: 10rem;
    top: 34rem;
  }
}

@media (max-width: 450px) {
  .hero-img {
    left: 2rem;
    bottom: -38rem;

    width: 24rem;
    height: 24rem;
  }

  .hero-logo {
    right: 4rem;
    top: 8rem;
    width: 21rem;
    height: 5rem;
    padding-bottom: 1rem;
  }

  .menu {
    right: 12rem;
    top: 38.5rem;
  }
}

@media (max-width: 425px) {
  .hero-img {
    left: 1rem;
    bottom: -38rem;

    width: 24rem;
    height: 24rem;
  }

  .hero-logo {
    right: 3rem;
    top: 8rem;
    width: 21rem;
    height: 5rem;
    padding-bottom: 1rem;
  }

  .menu {
    right: 11rem;
    top: 38.5rem;
  }
}

@media (max-width: 375px) {
  .hero-img {
    left: 0.5rem;
    bottom: -38rem;

    width: 23rem;
    height: 25rem;
  }

  .hero-logo {
    right: 1.5rem;
    top: 8rem;
    width: 20rem;
    height: 5rem;
    padding-bottom: 1rem;
  }

  .menu {
    right: 9.5rem;
    top: 39rem;
  }
}

@media (max-width: 320px) {
  .hero-img {
    left: 0rem;
    bottom: 6rem;
    width: 20rem;
    height: 21rem;
  }

  .hero-logo {
    right: 1rem;
    top: 9rem;
    width: 18rem;
    height: 5rem;
    padding-bottom: 1rem;
  }

  .menu {
    right: 8rem;
    top: 38rem;
  }
}
