.main {
  position: relative;
  height: 100vh;
  width: 100%;
}

.hero-img {
  position: absolute;
  left: -6rem;
  bottom: -6rem;
  width: 50rem;
  height: 45rem;
}

.hero-logo {
  position: absolute;
  right: 7rem;
  top: 10rem;
  width: 35rem;
  height: 10rem;
  padding-bottom: 1rem;
  border-bottom: 5px solid #51d2cb;
}

.info {
  background-color: #51d2cb;
  padding: 2rem;
  border-radius: 150px;
  position: absolute;
  text-align: center;
  display: flex;
  flex-direction: column;
  gap: 1rem;
  right: 11.5rem;
  top: 23rem;
}

.info h2 {
  font-size: 1.5rem;
  color: white;
}

.menu {
  position: absolute;
  right: 22rem;
  top: 36rem;
  justify-content: center;
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}

.scroll {
  width: 4rem;
  height: 4rem;
  margin-left: 0.9rem;
  animation-name: bounce;
  animation-iteration-count: infinite;
  animation-direction: alternate;
  animation-duration: 0.5s;
}

@keyframes bounce {
  from {
    transform: translateY(0px);
  }
  to {
    transform: translateY(5px);
  }
}

@media (max-width: 1370px) {
  .hero-img {
    left: -6rem;
    bottom: -6rem;
    width: 50rem;
    height: 45rem;
  }

  .hero-logo {
    right: 3rem;
    top: 10rem;
    width: 33rem;
    height: 10rem;
  }
  .info {
    right: 8rem;
    top: 23rem;
  }

  .menu {
    right: 18rem;
    top: 36rem;
  }
}

@media (max-width: 1230px) {
  .hero-img {
    width: 40rem;
  }
}

@media (max-width: 1114px) {
  .hero-img {
    left: -6rem;
    bottom: -6rem;
    width: 40rem;
    height: 45rem;
  }

  .hero-logo {
    right: 3rem;
    top: 10rem;
    width: 29rem;
    height: 10rem;
  }
  .info {
    right: 5rem;
    top: 23rem;
  }

  .menu {
    right: 15rem;
    top: 36rem;
  }
}

@media (max-width: 1053px) {
  .hero-img {
    left: -6rem;
    bottom: -6rem;
    width: 40rem;
    height: 45rem;
  }

  .hero-logo {
    right: 3rem;
    top: 10rem;
    width: 25rem;
    height: 9rem;
  }
  .info {
    right: 3rem;
    top: 23rem;
  }

  .menu {
    right: 12rem;
    top: 36rem;
  }
}

@media (max-width: 987px) {
  .info {
    display: none;
  }

  .hero-img {
    width: 40rem;
    height: 40rem;
    left: -5rem;
    bottom: -4rem;
  }

  .hero-logo {
    right: 3rem;
    top: 10rem;
    width: 23rem;
    height: 8rem;
  }

  .menu {
    right: 13rem;
    top: 25rem;
  }

  .scroll {
    margin-left: 1.1rem;
  }
}

@media (max-width: 769px) {
  .info {
    display: none;
  }

  .hero-img {
    left: -4rem;
    bottom: -7rem;
    width: 38rem;
    height: 38rem;
  }

  .hero-logo {
    right: 6rem;
    top: 4.5rem;
    width: 30rem;
    height: 7rem;
    padding-bottom: 1rem;
  }

  .menu {
    right: 4rem;
    top: 30rem;
  }

  .scroll {
    margin-left: 1.1rem;
  }
}

@media (max-width: 632px) {
  .hero-img {
    left: -4rem;
    bottom: -7rem;
    width: 38rem;
    height: 38rem;
  }

  .hero-logo {
    right: 6rem;
    top: 5rem;
    width: 27rem;
    height: 6rem;
    padding-bottom: 1rem;
  }

  .menu {
    right: 10rem;
    top: 34rem;
  }
}

@media (max-width: 550px) {
  .hero-img {
    left: -4rem;
    bottom: -7rem;
    width: 38rem;
    height: 38rem;
  }

  .hero-logo {
    right: 3rem;
    top: 5rem;
    width: 24rem;
    height: 6rem;
    padding-bottom: 1rem;
  }

  .menu {
    right: 10rem;
    top: 34rem;
  }
}

@media (max-width: 450px) {
  .hero-img {
    left: -2rem;
    bottom: -7rem;
    width: 39rem;
    height: 39rem;
  }

  .hero-logo {
    right: 2rem;
    top: 5rem;
    width: 21rem;
    height: 5rem;
    padding-bottom: 1rem;
  }

  .menu {
    right: 7rem;
    top: 34rem;
  }
}

@media (max-width: 380px) {
  .hero-img {
    left: -2rem;
    bottom: -4rem;
    width: 39rem;
    height: 37rem;
  }

  .hero-logo {
    right: 2rem;
    top: 5rem;
    width: 19rem;
    height: 4.5rem;
    padding-bottom: 1rem;
  }

  .menu {
    right: 7rem;
    top: 34rem;
  }
}

@media (max-width: 350px) {
  .hero-img {
    left: 0rem;
    bottom: 9rem;
    width: 30rem;
    height: 24rem;
  }

  .hero-logo {
    right: 1.5rem;
    top: 5rem;
    width: 17rem;
    height: 5rem;
    padding-bottom: 1rem;
  }

  .menu {
    right: 8rem;
    top: 36rem;
  }
}
