.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 1rem;
  width: 95vw;
  /* background-color: rgba(255, 0, 0, 0.414); */
  border-radius: 40px;
  padding: 2rem;
}

.menu-1 {
  display: grid;
  grid-template-columns: 1fr;
  /* grid-template-columns: 600px 600px; */
  column-gap: 3rem;
  row-gap: 2rem;
  padding: 3rem;
  justify-content: center;
  align-items: center;
  text-align: center;
  border-radius: 20px;
}

.menu-2 {
  display: grid;
  /* grid-template-columns: 1fr; */
  grid-template-columns: 1fr 1fr;
  column-gap: 3rem;
  row-gap: 2rem;
  padding: 3rem;
  justify-content: center;
  align-items: center;
  text-align: center;
  border-radius: 20px;
}

.menu-3 {
  display: grid;
  /* grid-template-columns: 1fr; */
  grid-template-columns: 1fr 1fr 1fr;
  column-gap: 3rem;
  row-gap: 2rem;
  padding: 3rem;
  justify-content: center;
  align-items: center;
  text-align: center;
  border-radius: 20px;
}

.menu-4 {
  display: grid;
  /* grid-template-columns: 1fr; */
  grid-template-columns: 1fr 1fr 1fr 1fr;
  column-gap: 3rem;
  row-gap: 2rem;
  padding: 3rem;
  justify-content: center;
  align-items: center;
  text-align: center;
  border-radius: 20px;
}

.type {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.type h2 {
  font-size: 3rem;
  font-weight: 800;
  color: rgba(255, 0, 0, 0.414);
  border-bottom: 5px solid rgba(255, 0, 0, 0.414);
  margin-bottom: 1.5rem;
  /* margin-left: 2rem; */
}

@media (max-width: 426px) {
  .container {
    padding: 1rem;
  }

  .menu-4 {
    grid-template-columns: 1fr;
    column-gap: 2.5rem;
    row-gap: 2rem;
    padding: 2rem;
  }

  .menu-3 {
    grid-template-columns: 1fr;
    column-gap: 2.5rem;
    row-gap: 2rem;
    padding: 2rem;
  }

  .menu-2 {
    grid-template-columns: 1fr;
    column-gap: 2.5rem;
    row-gap: 2rem;
    padding: 2rem;
  }

  .type h2 {
    font-size: 1.8rem;
  }
}
