.service {
  position: relative;
  margin: 2rem auto;
  width: 85%;
  height: 50vh;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  gap: 4rem;
}

.service h1 {
  font-size: 3rem;
  font-weight: 800;
  color: white;
  background-color: #51d2cc;
  border-radius: 100px;
  width: fit-content;
  padding: 1.7rem;
}

.main button {
  position: absolute;
  bottom: -7rem;
  left: 1rem;
  background-color: rgba(255, 0, 0, 0.414);
  border: none;
  padding: 1rem 1.5rem;
  color: white;
  font-weight: 700;
  border-radius: 40px;
  font-size: 1.5rem;

  animation: wiggle 3s alternate infinite;
}

@keyframes wiggle {
  0% {
    transform: rotate(3deg);
  }
  25% {
    transform: rotate(-3deg);
  }
  50% {
    transform: rotate(3deg);
  }
  75% {
    transform: rotate(-3deg);
  }
  100% {
    transform: rotate(0deg);
  }
}

.info {
  font-size: 2rem;
  background-color: #51d2cc;
  font-weight: 600;

  color: white;
  width: 500px;
  padding: 1.5rem;
  line-height: 1.4;
  border-radius: 40px;
}

.img1 {
  position: absolute;
  z-index: 999;
  top: 0rem;
  right: 13rem;
  width: 19rem;
  border-radius: 40px;
  border: 4px solid white;
  box-shadow: rgba(14, 30, 37, 0.32) 0px 4px 6px 0px,
    rgba(14, 30, 37, 0.32) 0px 4px 18px 0px;
}
.img2 {
  z-index: -999;
  position: absolute;
  top: 11rem;
  right: 2rem;
  width: 19rem;
  border-radius: 40px;
  border: 4px solid white;
  box-shadow: rgba(14, 30, 37, 0.32) 0px 4px 6px 0px,
    rgba(14, 30, 37, 0.32) 0px 4px 18px 0px;
}

.x {
  position: absolute;
  top: -1rem;
  right: 15rem;
  margin-top: 18rem;
  position: absolute;
  z-index: -999;
  background-color: rgba(255, 0, 0, 0.414);
  width: 18rem;
  height: 18rem;
  border-radius: 200px;
  /* animation: x 50s linear infinite alternate; */
}

.x p {
  visibility: hidden;
}

.y {
  position: absolute;
  top: 29rem;
  right: -1rem;
  margin-top: -30rem;
  position: absolute;
  z-index: -999;
  background-color: rgba(255, 0, 0, 0.414);
  width: 18rem;
  height: 18rem;
  border-radius: 200px;
  /* animation: y 20s linear infinite alternate; */
}

.y p {
  visibility: hidden;
}

@keyframes x {
  100% {
    transform: translateX(15vw);
  }
}

@keyframes y {
  100% {
    transform: translateX(15vw);
  }
}

@media (max-width: 1210px) {
  .service {
    gap: 4rem;
    z-index: 1000;
  }

  .service h1 {
    font-size: 2.7rem;
    padding: 1.5rem;
  }

  .main button {
    bottom: -6rem;
    left: 1rem;
    padding: 1rem 1.5rem;
    font-size: 1.5rem;
  }

  .info {
    font-size: 1.8rem;
    width: 40vw;
    padding: 1.5rem;
    line-height: 1.4;
  }

  .img1 {
    top: 2rem;
    right: 10rem;
    width: 16rem;
    height: 16rem;
  }
  .img2 {
    top: 12rem;
    right: 0rem;
    width: 16rem;
    height: 16rem;
  }

  .x {
    top: -3rem;
    right: 9rem;
    margin-top: 18rem;
    width: 17rem;
    height: 17rem;
  }

  .y {
    top: 25rem;
    right: -2rem;
    margin-top: -26rem;
    width: 17rem;
    height: 17rem;
  }
}

@media (max-width: 1100px) {
  .service {
    gap: 3rem;
  }

  .service h1 {
    font-size: 2.3rem;
    padding: 1.5rem;
  }

  .main button {
    bottom: -5rem;
    left: 1rem;
    padding: 1rem 1.5rem;
    font-size: 1.5rem;
  }

  .info {
    font-size: 1.5rem;
    width: 35vw;
    padding: 1.5rem;
    line-height: 1.3;
  }

  .img1 {
    top: 2rem;
    right: 10rem;
    width: 15rem;
    height: 15rem;
  }
  .img2 {
    top: 12rem;
    right: 0rem;
    width: 15rem;
    height: 15rem;
  }

  .x {
    top: -4rem;
    right: 9rem;
    margin-top: 18rem;
    width: 17rem;
    height: 17rem;
  }

  .y {
    top: 25rem;
    right: -2rem;
    margin-top: -26rem;
    width: 17rem;
    height: 17rem;
  }
}

@media (max-width: 979px) {
  .service {
    gap: 2rem;
  }

  .service h1 {
    font-size: 2.1rem;
    padding: 1.5rem;
  }

  .main button {
    bottom: -4rem;
    left: 1rem;
    padding: 1rem 1.5rem;
    font-size: 1.3rem;
  }

  .info {
    font-size: 1.3rem;
    width: 35vw;
    padding: 1.5rem;
    line-height: 1.3;
  }

  .img1 {
    top: 4rem;
    right: 8rem;
    width: 13rem;
    height: 13rem;
  }
  .img2 {
    top: 12rem;
    right: 0rem;
    width: 13rem;
    height: 13rem;
  }

  .x {
    top: -4rem;
    right: 9rem;
    margin-top: 18rem;
    width: 13rem;
    height: 13rem;
  }

  .y {
    top: 27rem;
    right: -2rem;
    margin-top: -26rem;
    width: 13rem;
    height: 13rem;
  }
}

@media (max-width: 859px) {
  .service {
    gap: 2rem;
  }

  .service h1 {
    font-size: 1.9rem;
    padding: 1.5rem;
  }

  .main button {
    bottom: -4.5rem;
    left: 1rem;
    padding: 1rem 1.5rem;
    font-size: 1.3rem;
  }

  .info {
    font-size: 1.1rem;
    width: 35vw;
    padding: 1.5rem;
    line-height: 1.3;
  }

  .img1 {
    top: 6rem;
    right: 6rem;
    width: 12rem;
    height: 12rem;
  }
  .img2 {
    top: 12rem;
    right: 0rem;
    width: 12rem;
    height: 12rem;
  }

  .x {
    top: -4rem;
    right: 9rem;
    margin-top: 18rem;
    width: 11rem;
    height: 11rem;
  }

  .y {
    top: 30rem;
    right: -1rem;
    margin-top: -26rem;
    width: 11rem;
    height: 11rem;
  }
}

@media (max-width: 764px) {
  .service {
    gap: 2rem;
  }

  .service h1 {
    font-size: 1.5rem;
    padding: 1.5rem;
  }

  .main button {
    bottom: -4.5rem;
    left: 1rem;
    padding: 1rem 1.5rem;
    font-size: 1.1rem;
  }

  .info {
    font-size: 1rem;
    width: 35vw;
    padding: 1.5rem;
    line-height: 1.3;
  }

  .img1 {
    top: 6rem;
    right: 5rem;
    width: 10rem;
    height: 10rem;
  }
  .img2 {
    top: 11rem;
    right: 0rem;
    width: 10rem;
    height: 10rem;
  }

  .x {
    top: -4rem;
    right: 6rem;
    margin-top: 18rem;
    width: 10rem;
    height: 10rem;
  }

  .y {
    top: 30rem;
    right: -1rem;
    margin-top: -26rem;
    width: 10rem;
    height: 10rem;
  }
}

@media (max-width: 629px) {
  .service {
    gap: 1.5rem;
  }

  .service h1 {
    font-size: 1.3rem;
    padding: 1.2rem;
  }

  .main button {
    bottom: -1.5rem;
    left: 1rem;
    padding: 1rem 1.5rem;
    font-size: 1.1rem;
  }

  .info {
    font-size: 0.9rem;
    width: 35vw;
    padding: 1.3rem;
    line-height: 1.2;
  }

  .img1 {
    top: 6rem;
    right: 5rem;
    width: 10rem;
    height: 10rem;
  }
  .img2 {
    top: 11rem;
    right: 0rem;
    width: 10rem;
    height: 10rem;
  }

  .x {
    top: -4rem;
    right: 6rem;
    margin-top: 18rem;
    width: 10rem;
    height: 10rem;
  }

  .y {
    top: 30rem;
    right: -1rem;
    margin-top: -26rem;
    width: 10rem;
    height: 10rem;
  }
}

@media (max-width: 589px) {
  .service {
    width: 80%;
    align-items: center;
    gap: 1.5rem;
    border-radius: 50px;
  }

  .service h1 {
    background-color: #51d2cc;
    font-size: 1.8rem;
    padding: 1.5rem;
  }

  .main {
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
    align-items: center;
  }

  .main button {
    position: unset;
    bottom: -3rem;
    left: 8.5rem;
    padding: 1rem 1.5rem;
    font-size: 1.1rem;
  }

  .info {
    text-align: center;
    font-size: 1.3rem;
    width: 50vw;
    padding: 1.3rem;
    line-height: 1.2;
  }

  .img1 {
    display: none;
    top: 6rem;
    right: 5rem;
    width: 9rem;
    height: 9rem;
  }
  .img2 {
    display: none;

    top: 11rem;
    right: 0rem;
    width: 9rem;
    height: 9rem;
  }

  .x {
    top: -1rem;
    right: 6rem;
    margin-top: 18rem;
    width: 9rem;
    height: 9rem;
    animation: x 20s linear infinite alternate;
  }

  .y {
    top: 22rem;
    right: -1rem;
    margin-top: -26rem;
    width: 9rem;
    height: 9rem;
    animation: y 20s linear infinite alternate;
  }

  @keyframes x {
    100% {
      transform: translateX(calc(50vw - 400px));
    }
  }

  @keyframes y {
    100% {
      transform: translateX(calc(50vw - 400px));
    }
  }
}

@media (max-width: 443px) {
  .service {
    width: 80%;
    align-items: center;
    gap: 1.5rem;
    border-radius: 50px;
  }

  .service h1 {
    background-color: #51d2cc;
    font-size: 1.5rem;
    padding: 1.5rem;
  }

  .main {
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
    align-items: center;
  }

  .main button {
    position: unset;
    bottom: -3rem;
    left: 8.5rem;
    padding: 1rem 1.5rem;
    font-size: 1.1rem;
  }

  .info {
    text-align: center;
    font-size: 1.1rem;
    width: 50vw;
    padding: 1.3rem;
    line-height: 1.2;
  }

  .x {
    top: 1rem;
    right: 6rem;
    margin-top: 18rem;
    width: 9rem;
    height: 9rem;
    animation: x 20s linear infinite alternate;
  }

  .y {
    top: 20rem;
    right: -1rem;
    margin-top: -26rem;
    width: 9rem;
    height: 9rem;
    animation: y 20s linear infinite alternate;
  }
}

@media (max-width: 322px) {
  .service {
    width: 80%;
    align-items: center;
    gap: 1.5rem;
    border-radius: 50px;
  }

  .service h1 {
    background-color: #51d2cc;
    font-size: 1.2rem;
    padding: 1.5rem;
  }

  .main {
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
    align-items: center;
  }

  .main button {
    position: unset;
    bottom: -3rem;
    left: 8.5rem;
    padding: 1rem 1.5rem;
    font-size: 1rem;
  }

  .info {
    text-align: center;
    font-size: 1rem;
    width: 60vw;
    padding: 1.3rem;
    line-height: 1.2;
  }
  .x {
    top: -1rem;
    right: 6rem;
    margin-top: 18rem;
    width: 9rem;
    height: 9rem;
    animation: x 20s linear infinite alternate;
  }

  .y {
    top: 20rem;
    right: -1rem;
    margin-top: -26rem;
    width: 9rem;
    height: 9rem;
    animation: y 20s linear infinite alternate;
  }
}
