.container {
  width: 100%;
  height: 100vh;
  margin: 4rem auto;
  padding: 2rem 0;
  /* background-color: antiquewhite; */
}

.service {
  position: relative;
  margin: 2rem auto;
  width: 90%;
  height: 50vh;
  /* background-color: aquamarine; */
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  justify-content: center;
  gap: 7rem;
}

.service h1 {
  font-size: 3.5rem;
  font-weight: 800;
  color: white;
  background-color: #51d2cc;
  border-radius: 100px;
  width: fit-content;
  padding: 1.5rem;
}

.info {
  font-size: 2rem;
  background-color: rgba(255, 0, 0, 0.414);
  color: white;
  width: 500px;
  padding: 1.5rem;
  line-height: 1.4;
  border-radius: 40px;
}

.img1 {
  position: absolute;
  z-index: 999;
  top: 2rem;
  left: 10rem;
  width: 19rem;
  border-radius: 40px;
}
.img2 {
  z-index: -999;
  position: absolute;
  top: 12rem;
  left: 0rem;
  width: 19rem;
  border-radius: 40px;
}
