.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.carousel {
  cursor: grab;
  overflow: hidden;
  width: 100vw;
  /* background-color: rgba(81, 210, 204, 0.467); */
}

.inner-carousel {
  /* background-color: rgba(81, 210, 204, 0.467); */
  display: flex;
  gap: 1rem;
  padding: 2rem 0.5rem;
}

.item {
  min-height: 250px;
  min-width: 250px;
}

.image {
  width: 100%;
  height: 100%;
  border-radius: 20px;
}
