.container {
  display: flex;
  flex-direction: column;
  gap: 8rem;
  background-color: rgb(246, 251, 255);
}

@media (max-width: 769px) {
  .container {
    gap: 4rem;
  }
}

@media (max-width: 430px) {
  .container {
    gap: 0rem;
  }
}

@media (max-width: 380px) {
  .container {
    gap: 3rem;
  }
}
